<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Bank Account Transfer System</h1>
<hr>
<h3 th:text="'Welcome '+${session.user.name}+'!'"></h3>
<hr>
<form action="./performTransaction">
	Enter Account Number to transfer to <input type="text" name="accIdTo"><br><br>
	Enter Increment Amount <input type="text" name="increment"><br><br>
	<input type="submit" value="Perform Bank Transaction">
</form>
<br><br>
<a href="./">Go Back to Menu Page</a>
</body>
</html>